<div class="row">
    <div class="col-sm-12">
        <h3>Upload a picture of the back of your ID card</h3>
    </div>
</div>
<div class="separator"></div>
<div class="row">
    <div class="col-sm-4">
        <div class="col-lg-8 col-md-10 col-sm-12 float-right">
            <button class="btn btn-primary btn-block">Take picture</button>
            <button class="btn btn-success btn-block">OK</button>
        </div>
    </div>
    <div class="col-sm-8">
        <!--After Upload, border disappears and image appears in div-->
        <img class="img-fluid" src="../public/images/examples/back_uploaded.jpg" />
    </div>
</div>
<div class="separator"></div>
<div class="row">
    <div class="col-sm-4">
        <p>
            The picture must be bright and sharp without reflections and should fill the frame
        </p>
    </div>
    <div class="col-sm-8">
        <img class="img-fluid" src="../public/images/examples/id_back.jpg" />
    </div>
</div>
