<div class="row">
    <div class="col-sm-12">
        <h3>Verify your profile with fidentity</h3>
        <div class="separator"></div>
        <h4>Which account do you want to verify?</h4>
    </div>
</div>
<div class="separator"></div>
<div class="separator"></div>
<div class="row">
    <div class="col-md-4 col-sm-6 mx-auto">
        <div class="btn-group">
            <button class="btn btn-google float-left">Google</button>
            <button class="btn btn-facebook float-right">Facebook</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <form action="">
            <fieldset class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name">
            </fieldset>
            <fieldset class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name">
            </fieldset>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
</div>
<div class="separator"></div>
<div class="row">
    <div class="col-xs-6 mx-auto">
        <ul class="list-unstyled">
            <li>Fidentity will verify your profile.</li>
            <li> We will check who you are through scans of your national ID card.</li>
            <li> We never share your data.</li>
            <li> You stay in control. Always!</li>
        </ul>
    </div>
</div>
