/* You can add global styles to this file, and also import other style files */

@import "bootstrap";

.separator {
    height: 20px;
}

.list-unstyled {
    padding-left: 15px;
}

.btn-facebook {
    @extend .btn-primary;
    background-color: mediumblue;
    color: white;
}

.btn-google {
    @extend .btn-primary;
    background-color: darkred;
    color: white;
}

.btn-primary {
    &:hover {
        background-color: $surfie-green;
        border-color: $surfie-green;
    }
}

