/* You can add global styles to this file, and also import other style files */

@import "bootstrap";

body {
    // text-align: center;
}

.container h3, .container h4 {
    text-align: center;
}
.separator {
    height: 20px;
}

// .thirdparty-selection {
//     border: 1px dotted red;
//     margin-left: 20px;
//     margin-right: 20px;
// }

.btn-facebook {
    background-color: mediumblue;
    color: white;
}

.btn-google {
    margin-right: 40px;

}
